@import '../../mixin.scss';

#background{
    scroll-snap-align: start;
    height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("https://veekun.com/static/pokedex/downloads/heartgold-soulsilver-frame2.png");
    
    .search{
        align-items: center;
        justify-content: center;
        padding-top: 270px;
        width:100% !important;
        text-align: center;
        
        a{   
             z-index: 2;
             font-weight: 600;
             color: $white !important;
             text-shadow: 2px 2px #ff0000;
             font-size: 45px;
             letter-spacing: 1.3px;
             margin-left: -43px;
         
        }
     
        img{
            z-index: 1;
            
            width: 50px;
            padding-bottom: 30px;
        }
     
        .d-flex{
            display: flex;
            align-items: center;
            justify-content: center;
             
            #ir{
                margin-top: -15px;
                height: 47px;
                width:100%;
                background-color: $pokered;
                border-color: $pokered;
            }
         
            .form-search{
                width: 500px;
            }
        }
         
        button{
            outline: none;
            border: 0;
            background-color:transparent ;
        
            h1{
                padding-bottom: 12px;
                color: $grey;
                font-size: 18px;
            }
        }

    }

    .pokemon-container{
        margin:0;
        text-align: center;

        padding:20px;
        background-color: $white;
        width: 400px;
        border-width: 2px;
        border-radius: 10px;
        img{
            width: 50%;
        }
        
        p{
            font-size: 30px;
        }
        
    }

    .logo{
        width:35px;
        margin-right: 5px;
    }
}


@media screen and (max-width: 602px) {
    .form-search{
        width: 350px !important;
        .form-control{
            font-size: 18px;
        }
    }
   
}

@media screen and (max-width: 492px) {
    a{   
        font-size: 35px !important;
    }
    .form-search{
        width: 350px !important;
        .form-control{
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 433px) {
    a{   
        font-size: 35px !important;
    }
    .form-search{
        width: 250px !important;
        .form-control{
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 412px) {
    .search{
        padding-top: 90px !important;
    }

    a{   
        font-size: 35px !important;
    }
}

@media screen and (max-width: 375px) {
    .search{
        padding-top: 40px !important;
        a{
            font-size: 30px !important;
        }
        img{
            width: 45px !important;
        }
    }
    a{   
        font-size: 35px !important;
    }
    .form-search{
        width: 250px !important;
    }
}


@media screen and (max-width: 362px) {
    .search{
        padding-top: 40px !important;
        a{
            font-size: 30px !important;
        }
        img{
            width: 45px !important;
        }
    }
    a{   
        font-size: 35px !important;
    }
}

@media screen and (max-width: 323px) {
    .search{
        padding-top: 40px !important;
        a{
            font-size: 30px !important;
        }
        img{
            width: 35px !important;
        }
    }
    a{   
        font-size: 30px !important;
    }
    .form-search{
        width: 190px !important;
    }

}





