@import '../../mixin.scss';

.pokemon-container{
  .grass{
      justify-content: center;
      color:$white;
      text-shadow: 2px 2px #000;
      padding:2px 10px;
      border-radius: 5px;
      background-color: $green;
      margin: 0 15px;
  }
  .ground{
      color:$white;
      text-shadow: 2px 2px #000;
      padding:2px 10px;
      border-radius: 5px;
      background-color: #e2c569;
      margin: 0 15px;
  }
  .fire{
      color:$white;
      text-shadow: 2px 2px #000;
      padding:2px 10px;
      border-radius: 5px;
      background-color: #f08030;
      margin: 0 15px;
  }
  .water{
      color:$white;
      text-shadow: 2px 2px #000;
      padding:2px 10px;
      border-radius: 5px;
      background-color: #6890f0;
      margin: 0 15px;
  }
  .fighting{
      color:$white;
      text-shadow: 2px 2px #000;
      padding:2px 10px;
      border-radius: 5px;
      background-color: #c03028;
      margin: 0 15px;
  }
  .ice{
      color:$white;
      text-shadow: 2px 2px #000;
      padding:2px 10px;
      border-radius: 5px;
      background-color: #98d8d8;
      margin: 0 15px;
  }
  .poison{
      color:$white;
      text-shadow: 2px 2px #000;
      padding:2px 10px;
      border-radius: 5px;
      background-color: #a040a0;
      margin: 0 15px;
  }
  .dark{
    color:$white;
    text-shadow: 2px 2px #000;
    padding:2px 10px;
    border-radius: 5px;
    background-color: #705848;
    margin: 0 15px;
  }
  .fairy{
    color:$white;
    text-shadow: 2px 2px #000;
    padding:2px 10px;
    border-radius: 5px;
    background-color: #f7b5f7;
    margin: 0 15px;
  }
  .psychic{
    color:$white;
    text-shadow: 2px 2px #000;
    padding:2px 10px;
    border-radius: 5px;
    background-color: #df5f83;
    margin: 0 15px;
  }
  .normal{
    color:$white;
    text-shadow: 2px 2px #000;
    padding:2px 10px;
    border-radius: 5px;
    background-color: #a8a878;
    margin: 0 15px;
  }
  .ghost{
    color:$white;
    text-shadow: 2px 2px #000;
    padding:2px 10px;
    border-radius: 5px;
    background-color: #705898;
    margin: 0 15px;
  }
  .rock{
    color:$white;
    text-shadow: 2px 2px #000;
    padding:2px 10px;
    border-radius: 5px;
    background-color: #b8a038;
    margin: 0 15px;
  }
  .dragon{
    color:$white;
    text-shadow: 2px 2px #000;
    padding:2px 10px;
    border-radius: 5px;
    background-color: #7860e2;
    margin: 0 15px;
  }
  .flying{
    color:$white;
    text-shadow: 2px 2px #000;
    padding:2px 10px;
    border-radius: 5px;
    background-color: #8d9fee;
    margin: 0 15px;
  }
  .steel{
    color:$white;
    text-shadow: 2px 2px #000;
    padding:2px 10px;
    border-radius: 5px;
    background-color: #b1b1c0;
    margin: 0 15px;
  }
  .electric{
    color:$white;
    text-shadow: 2px 2px #000;
    padding:2px 10px;
    border-radius: 5px;
    background-color: #fce134;
    margin: 0 15px;
  }
  .bug{
    color:$white;
    text-shadow: 2px 2px #000;
    padding:2px 10px;
    border-radius: 5px;
    background-color: #a4b31c;
    margin: 0 15px;
  }
}